* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spiral-container {
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spiral {
    font-size: 2rem;
    margin: 10px;
    visibility: visible;
    animation-duration: 0.5s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.game {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.letter {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    font-weight: bolder;
    font-size: 1.75rem;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.letter.wrongWord {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-name: wrongWord;
}

.letter:focus {
    border: 2px solid #ccc;
    caret-color: transparent;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 2s linear infinite;
    background-size: 400% 100%;
}

@keyframes rotation {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes wrongWord {
    from {
        border-color: red;
    }

    to {
        border-color: #ccc;
    }
}

@keyframes rainbow_animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}